/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 19 nov. 2025, 09:16:29
    Author     : etudiant
*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo-image {
  position: relative;
  top: 0;
  left: 0;
  width: 186px;
  height: 105px;
  aspect-ratio: 1.77;
}

.img-fluid-logo-header{
    max-width: 60%;
    height: auto;
}

.img-fluid-logo-footer-uppa{
    max-width: 250px;
    min-width: 10%;
    height: auto;
}
.img-fluid-logo-footer-fablab{
    max-width: 250px;
    min-width: 15%;
    height: auto;
}

:root {
    --navbar-bg-color: #e9ecef; 
    --navbar-text-color: #000;
}

[data-theme="dark"] {
    --navbar-bg-color: #6c757d;
    --navbar-text-color: #fff;
}

.navbar-custom {
    background-color: var(--navbar-bg-color) !important;
    color: var(--navbar-text-color);
    transition: background-color 0.3s ease;
}

.bloc-force-full {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 0 !important; 
    z-index: 999 !important;
}

/* --- BOUTONS --- */
.btn-fablab-blue {
    background-color: #B8E1FF;
    color: #000; 
    border: none;
    border-radius: 10px;
}
.btn-fablab-blue:hover {
    background-color: #9acbee;
    color: #000;
}

.btn-outline-fablab-blue {
    background-color: transparent;
    color: #000;
    border: 1px solid #B8E1FF;
    border-radius: 10px;
}
.btn-outline-fablab-blue:hover {
    background-color: #B8E1FF;
    color: #000;
}

.btn-fablab-yellow {
    background-color: #ffc107;
    color: #000; 
    border: none;
    border-radius: 10px;
}
.btn-fablab-yellow:hover {
    background-color: #e0a800;
    color: #000;
}

/* Style du footer */

footer{
    font-size:12px;
    font-family: Anonymous Pro;
}
.footer-a:link {
  text-decoration: none;
  color:black;
}

.footer-a:visited {
  text-decoration: none;
  color:black;
}

/*Ceux que je veux soulignés tjrs */
.footer-underline-a:link {
  text-decoration: underline;
  color:black;
}

.footer-underline-a:visited {
  text-decoration: underline;
  color:black;
}

/*Suite des liens */
.footer-a:hover {
  text-decoration: underline;
}

.footer-a:active {
  text-decoration: underline;
}

.fc-col-header-cell-cushion {
    text-decoration: none !important; 
    color: #333333 !important;       
}


.fc-col-header-cell-cushion:hover {
    text-decoration: none !important;
    color: #000000 !important;       
}

.fc-day-today .fc-col-header-cell-cushion {
    color: #0d6efd !important;       
    font-weight: bold;
}

/*Couleur des liens du dropdown quand cliqués*/
.dropdown-menu .dropdown-item:active {
    background-color: rgb(86, 94, 100);
}

.footer-a:link {
  text-decoration: none;
  color:black;
}

.footer-a:visited {
  text-decoration: none;
  color:black;
}

.footer-a:hover {
  text-decoration: underline;
}

.footer-a:active {
  text-decoration: underline;
}