/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 19 nov. 2025, 09:16:29
    Author     : etudiant
*/

.logo-image {
  position: relative;
  top: 0;
  left: 0;
  width: 186px;
  height: 105px;
  aspect-ratio: 1.77;
}

.img-fluid-logo-header{
    max-width: 60%;
    height: auto;
}

.img-fluid-logo-footer-uppa{
    max-width: 20%;
    height: auto;
}
.img-fluid-logo-footer-fablab{
    max-width: 85%;
    height: auto;
}