/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 19 nov. 2025, 09:16:29
    Author     : etudiant
*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo-image {
  position: relative;
  top: 0;
  left: 0;
  width: 186px;
  height: 105px;
  aspect-ratio: 1.77;
}

.img-fluid-logo-header{
    max-width: 60%;
    height: auto;
}

.img-fluid-logo-footer-uppa{
    max-width: 20%;
    height: auto;
}
.img-fluid-logo-footer-fablab{
    max-width: 85%;
    height: auto;
}

:root {
    --navbar-bg-color: #e9ecef; 
    --navbar-text-color: #000;
}

[data-theme="dark"] {
    --navbar-bg-color: #6c757d;
    --navbar-text-color: #fff;
}

.navbar-custom {
    background-color: var(--navbar-bg-color) !important;
    color: var(--navbar-text-color);
    transition: background-color 0.3s ease;
}